{% load static %}
<style>
    .whichsection {
        position: relative;
        min-width: 0px;
        background-color: white;
        background-clip: border-box;
        font-size: 18px;
        text-align: center;
    }
    
    .whichsection a {
        color: #FF9933;
    }
    
    .active_section {
        background-color: #FF9933;
        color: white
    }
    
    .active_section a {
        color: white;
    }
    
    .dot {
        border-left: 2px solid black;
        height: inherit;
        position: relative;
        margin-left: 3px;
        margin-right: 3px;
        float: right;
    }
    
    .question {
        font-size: 15px;
    }
    
    .col {
        padding: 7px;
    }
</style>
{% url 'questions:questions_index' as questions_page %} {% url 'gossips:gossips_index' as gossips_page %} {% url 'cheaters:cheaters_index' as cheaters_page %}

<div class="container mb-4">
    <div class="row whichsection">
        <div class="col {% if request.path == questions_page %} active_section {% endif %} my-auto">
            <a href="{% url 'questions:questions_index' %}" class="question">
                {% if request.path == questions_page %} <i class="fa fa-check" style="color:white;"></i> {% endif %} Questions
            </a>

        </div>

        <div class="dot"> </div>

        <div class="col {% if request.path == gossips_page %} active_section {% endif %} my-auto">
            <a href="{% url 'gossips:gossips_index' %}">
                {% if request.path == gossips_page %} <i class="fa fa-check" style="color:white;"></i> {% endif %} Gossips
            </a>
        </div>

        <div class="dot"> </div>

        <div class="col {% if request.path == cheaters_page %} active_section {% endif %} my-auto">
            <a href="{% url 'cheaters:cheaters_index' %}">
                {% if request.path == cheaters_page %} <i class="fa fa-check" style="color:white;"></i> {% endif %} Cheaters
            </a>
        </div>
    </div>
</div>