{% extends 'base.html' %} {% load humanize %} {% load static %} 
{% block content %} 

{% for gossip in gossips %}
<div class="card mb-4 infinite-item">
    <div class="card-body">
        <h6 class="card-title">
            <div class="mb-3 row ml-1">
                <div>
                    {% if gossip.author.profile.image %}
                   <img class="img-fluid rounded-circle" src="{{gossip.author.profile.image.url}}" alt="{{gossip.author.username}} image" style="width: 35px; height: 35px;">
                   {% else %}
                   <img class="img-fluid rounded-circle" src="{% static 'images/default_profile_pic2.png' %}" alt="{{gossip.author.username}} image" style="width: 35px; height: 35px;">
                    {% endif %}
                </div>
          
                <div class="col-8">
                   <strong><a href="{% url 'users:user_view_profile' gossip.author.username %}" class="text-dark">{{gossip.author.username}}</a> 
                   </strong>

                   <small class="text-muted ml-1">{{gossip.date_published|naturaltime}}</small>

                   {% if gossip.author.profile.designation %}
                    <div class="text-muted mt-2 mr-3">
                        {{gossip.author.profile.designation}}
                    </div>
                    {% endif %}

                </div>
            </div>
         
            <div class="row">
                <div class="col">

                </div>

                <div class="col">
                    <div class="progress">
                        <div class="true_reaction_button progress-bar progress-bar-striped" role="progressbar" style="width: {{gossip.percent_true}}%" aria-valuenow="{{gossip.percent_true}}" aria-valuemin="0" aria-valuemax="100">{{gossip.percent_true | floatformat:1}}%</div>
                        <div class="false_reaction_button progress-bar progress-bar-striped" role="progressbar" style="width: {{gossip.percent_false}}%" aria-valuenow="{{gossip.percent_false}}" aria-valuemin="0" aria-valuemax="100">{{gossip.percent_false | floatformat:1}}%</div>
                    </div>
                    <div class="text-right">{{gossip.get_total_voters}} person{{gossip.get_total_voters|pluralize}} voted</div>
                </div>
            </div>


        </h6>
        <a href="{% url 'gossips:gossip_detail' gossip.slug %}" class="text-dark">
            <h6>
                {% if gossip.from_question_user %}
                <small>question by: {{gossip.from_question_user}} - </small>
                {% endif %}
             <strong>{{gossip.title|truncatewords:30}}</strong> 
            </h6>


            <p> 
                {% if gossip.from_question_answer_provider %}
                <small>{{gossip.from_question_answer_provider}} answered: </small> 
                {% endif %}
                {{gossip.content | linebreaks | truncatewords:155}}
            </p>
        </a>
    </div>

    {% if gossip.image %}
    <img class="card-img-bottom" style="max-height:420px;" src="{{gossip.image.url}}" alt="{{gossip.title}} image">
    {% endif %}

    <div class="row">
        <div class="col m-2 ml-5 d-inline">
            <div class="row d-inline">
                <form class="d-inline">
                        {% if user in gossip.true.all or user in gossip.false.all %}
                        <button type="button" class="true_reaction_button btn btn-sm disabled">
                            <i class="fa fa-check"></i> True
                        </button> 
                        {% else %}
                        <button type="button"
                            data-toggle="modal" 
                            data-id="{{gossip.id}}" 
                            data-action="true" 
                            data-target="#reactionModal" 
                            onclick="reactionFunction('{{gossip.id}}', 'true')"  
                            class="true_reaction_button reaction btn btn-sm btn-primary"> 
                            <i class="fa fa-check"></i> 
                            True
                        </button> 
                        {% endif %}
                </form>

                <form class="d-inline">
                    {% if user in gossip.false.all or user in gossip.true.all %}
                    <button type="button" class="false_reaction_button btn btn-sm disabled">
                            <i class="fa fa-times"></i> False
                        </button> 
                    {% else %}
                    <button type="button" 
                        data-toggle="modal" 
                        data-id="{{gossip.id}}" 
                        data-action="false" 
                        data-target="#reactionModal"
                        onclick="reactionFunction('{{gossip.id}}', 'false')" 
                        class="false_reaction_button reaction btn btn-sm btn-danger"> 
                        <i class="fa fa-times"></i> 
                        False
                    </button> 
                    {% endif %}
                </form>
            </div>

            {% if user in gossip.true.all %}
            <div style="color: #FF9933; margin-left: -10px;" class="text-small">
               <small>You voted true</small> 
            </div>
            {% elif user in gossip.false.all %}
            <div style="color: #FF9933; margin-left: -10px;" class="text-small">
                <small>You voted false</small>
            </div>
            {% endif %}
        </div>
        {% static 'images/GossipsBook_logo.png' as post_image %}
        <div class="col m-2 p-1 d-inline text-right mr-4">
            <a href="#" 
                data-toggle="modal"
                {% if gossip.image %}
                onclick="sharePostFunc('{{gossip.title}}','{{gossip.get_absolute_url}}', '{{gossip.image.url}}')" 
                {% else %}
                onclick="sharePostFunc('{{gossip.title}}','{{gossip.get_absolute_url}}', '{{post_image}}')"
                {% endif %}
                data-target="#shareModal"  
                class="mr-3 share-button"> 
                <i class="fa fa-share-alt"></i> 
                <span class="d-none d-md-inline">Share</span> 
            </a>
            <a href="#" class="comment" data-toggle="modal" data-id="{{gossip.id}}" data-title="{{gossip.title}}" data-target="#commentModal">
                <i class="fa fa-comment"></i> <span class="d-none d-md-inline">Comment </span>  ({{gossip.get_total_comments.count}})
            </a>
        </div>
    </div>
</div>
{% endfor %}

<div id="feed_loading_spinner" class="d-flex d-none position-fixed" style="top: 35vh; left: 35vw;">
    
</div>

<div id="page_bottom" class="d-flex" style="top: 35vh; left: 35vw;">
    
</div>

<!-- Infinite scroll Pagination -->
<div>
    {% if page.has_next %}
    <a class="infinite-more-link" href="?page={{page.next_page_number}}"></a>
    {% endif %}
</div>


<!-- comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="row pl-5 pt-3 container">
                <div id="gossipToComment">
                </div>
            </div>

            {% if user.is_authenticated %}
            <form action="{% url 'gossips:gossip_add_comment' %}" method="post">
                {% csrf_token %}
                <div class="row container mx-auto">
                    <textarea required class="form-control m-3 mt-2" name="commentContent" cols="25" rows="5" placeholder="Your comment..."></textarea>
                </div>

                <input type="hidden" name="gossipId" id="gossipId">

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary"><i class="fa fa-send"></i> Submit </button>
                </div>
            </form>
            {% else %}
            <div class="container mt-2 p-4">
                Would you like to comment on this gossip? Please <a href="/accounts/login">login</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- End comment Modal -->



<!-- Reaction Modal -->
<div class="modal fade" id="reactionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="row pl-5 pt-3 container">
                <div id="gossipToComment">
                </div>
            </div>

            {% if user.is_authenticated %}
            <div class="container">
                <p id="reactionSection"></p>
                <p>
                    <strong>Note that you CANNOT undo this action...</strong>
                </p>
            </div>
            <form class="d-inline" action="{% url 'gossips:gossip_reaction' %}">
                <input type="hidden" name="action" value="" id="action"> 
                <input type="hidden" name="gossip_id" value="" id="gossip_id"> 
               
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No, Go Back</button>
                    <button class="btn btn-outline-primary"><i class="fa fa-send"></i> Yes, continue </button>
                </div>
            </form>
            {% else %}
            <div class="container mt-2 p-4">
                Would you like to vote on this gossip? Please <a href="/accounts/login">login</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- End reaction Modal -->

{% endblock content %}

{% block title %} Gossips Section {% endblock title %}
<section>
    {% block navigation %} {% include 'navigation.html' %} {% endblock navigation %}
</section>
<section>
    {% block startwriting %} {% include 'startwriting.html' %} {% endblock startwriting %}
</section>
<section>
    {% block whichsection %} {% include 'whichsection.html' %} {% endblock whichsection %}
</section>
<section>
    {% block aside %} {% include 'aside.html' %} {% endblock aside %}
</section>

<!-- customJs -->
{% block customJs %}

<script>

    //for comment functionality
    $('.comment').on('click', function() {
        var id = $(this).data('id');
        var title = $(this).data('title');

        $("#gossipId").val(id)

        $(".appendTitle").remove()
        $("<h5 class='appendTitle'>" + title + "</h5>").insertAfter('#gossipToComment');

    });

    // For true false reaction
    function reactionFunction(id, action) {
        var id = id;
        var action = action;
        var boldAction = "<strong class='text-uppercase'>"+ action +"</strong>";
        var message = 'You are about to vote "'+ boldAction +'" for this post';

        $("#gossip_id").val(id);
        $("#action").val(action);

        $(".appendReaction").remove();
        $("<p class='appendReaction'>" + message + "</p>").insertAfter('#reactionSection');

    }

    
</script>

{% include 'social_share.html' %}
 
{% endblock customJs %}
<!-- End customJs -->